.navbar-user {
  position: relative;
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 8px;

  .tabler-icon-chevron-down {
    color: $color-black-50;
  }

  .text-name {
    font-size: 14px;
    font-weight: bold;
    color: $color-black-90;
    text-align: right;
  }

  .text-group {
    font-size: 12px;
    color: $color-black-50;
    text-align: right;
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
  }

  .dropdown-user {
    position: absolute;
    top: 56px;
    right: 0;
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 183px;
    padding: 10px 0;
    background-color: $color-white;
    border-radius: 12px;
    box-shadow: 0 2px 8px 0 rgb(18 18 18 / 12%);

    .list {
      padding: 0 10px;

      &:hover {
        .link-text {
          background-color: $color-black-01;
        }
      }

      .link-text {
        display: flex;
        column-gap: 12px;
        align-items: center;
        width: 100%;
        padding: 12px 15px;
        font-size: 14px;
        font-weight: 500;
        color: $color-black-70;
        border-radius: 8px;

        svg {
          width: 18px;
          height: 18px;
          color: $color-black-70;
        }
      }
    }

    .list-user-logout {
      padding: 0 10px;

      &:hover {
        .link-text {
          background-color: $color-light-red;
        }
      }

      .link-text {
        display: flex;
        column-gap: 12px;
        align-items: center;
        width: 100%;
        padding: 12px 15px;
        font-size: 14px;
        font-weight: 500;
        color: $color-red;
        border-radius: 8px;

        svg {
          width: 18px;
          height: 18px;
          color: $color-red;
        }
      }
    }

    hr {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      border: 1px solid #e7e7e7;
    }
  }

  .dropdown-group {
    position: absolute;
    top: 0;
    right: 183px;
    display: none;
    width: 320px;
    background-color: $color-white;
    border-radius: 12px;
    box-shadow: 0 2px 8px 0 rgb(18 18 18 / 12%);

    .head {
      display: flex;
      justify-content: space-between;
      padding: 14px 16px;
      border-bottom: 1px solid $color-black-10;

      p {
        font-size: 14px;
        font-weight: 700;
        color: $color-black-100;
      }

      .view-all {
        font-size: 14px;
        color: $color-green;
        background-color: $color-white;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      row-gap: 0;
      height: auto;
      max-height: 350px;
      overflow-y: auto;

      .list-group {
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 16px;
        align-items: center;
        align-self: stretch;
        padding: 8px;
        margin: 12px;

        &:last-child {
          &::after {
            display: none;
          }
        }

        &::after {
          position: absolute;
          bottom: -12px;
          left: 0;
          width: 100%;
          height: 1px;
          content: "";
          background: $color-black-01;
        }

        &:hover {
          background-color: $color-black-01;
          border-radius: 12px;
        }

        .left {
          display: flex;
          column-gap: 8px;
          align-items: center;
          width: 100%;

          .tabler-icon {
            width: 18px;
            height: 18px;
            margin: 11px;
            color: $color-black-40;
          }

          p {
            &:first-child {
              width: 185px;
              margin-bottom: 5px;
              overflow: hidden;
              font-size: 14px;
              font-weight: 500;
              line-height: normal;
              color: $color-black-100;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            &:last-child {
              width: 185px;
              margin-bottom: 0;
              overflow: hidden;
              font-size: 12px;
              font-weight: 400;
              line-height: normal;
              color: $color-black-40;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }

        .right {
          position: absolute;
          right: 15px;
        }
      }
    }
  }
}
