@import "@/assets/scss/style";

.ktv-checkbox {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: $black-100;
  cursor: pointer;
  user-select: none;

  input[type="checkbox"] {
    display: grid;
    place-content: center;
    width: 24px;
    height: 24px;
    margin: 0;
    color: $black-50;
    appearance: none;
    cursor: pointer;
    background-color: $black-00;
    border: 2px solid $black-50;
    border-radius: 6px;

    &::before {
      width: 0.65em;
      height: 0.65em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      content: "";
      background-color: $black-00;
      transition: 120ms transform ease-in-out;
      transform: scale(0);
      transform-origin: bottom left;
    }

    &:checked {
      background-color: $product-green-100;
      border: 2px solid $product-green-100;

      &::before {
        transform: scale(1);
      }
    }
  }

  &.is-disabled {
    color: $black-30;
    cursor: not-allowed;

    input[type="checkbox"] {
      cursor: not-allowed;

      &[disabled] {
        color: $black-30;
        border: 2px solid $black-30;

        &::before {
          background-color: $black-30;
        }

        &:checked {
          background-color: $black-30;

          &::before {
            background-color: $black-00;
          }
        }
      }
    }
  }
}
