@import "@/assets/scss/style";

.ktv-input-textarea {
  width: 100%;
  max-width: 250px;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4px 8px;

    label {
      font-size: 14px;
      font-weight: 400;
      color: $black-100;
      text-transform: capitalize;
      letter-spacing: 0.1px;
    }

    svg {
      width: 16px;
      height: 16px;
      color: $black-50;
    }
  }

  .support-counter {
    display: grid;
    grid-auto-flow: column;
    margin: 4px 4px 0;
    font-size: 12px;
    font-weight: 400;
    color: $black-60;
    letter-spacing: 0.4px;

    .helper-text {
      display: block;
      margin: 0;

      p {
        margin: 0;
      }
    }

    .counter {
      margin: 0;
      text-align: right;
    }
  }

  .input {
    display: flex;
    gap: 4px;
    align-items: flex-start;
    padding: 10px;
    border-radius: 8px;
    outline: 1px solid $black-40;
    transition: outline 0.1s ease-in-out;

    svg {
      min-width: 16px;
      max-width: 16px;
      min-height: 16px;
      max-height: 16px;
    }

    .tabler-icon-alert-triangle-filled {
      color: $accent-danger-100;
    }

    .icon-close {
      color: $black-50;
      cursor: pointer;

      &:hover {
        color: $black-100;
      }
    }

    .tabler-icon-search {
      color: $black-100;
    }

    textarea {
      width: 100%;
      padding: 0;
      overflow-y: hidden;
      resize: none;
      border: none;
      outline: none;

      &.auto-grow {
        height: auto;
      }

      &::placeholder {
        color: $black-40;
      }

      &:focus-visible {
        outline: none;
      }
    }

    &:hover {
      border-color: $black-50;
    }

    &.is-focused {
      outline: 2px solid $accent-info-100;

      .icon-close {
        display: flex;
      }
    }

    &.is-disabled,
    &.is-readonly {
      cursor: no-drop;
      background-color: $black-20;
      outline: 1px solid $black-30;

      textarea:disabled,
      textarea:read-only {
        cursor: no-drop;
        background-color: $black-20;
      }

      ~ .helper-text {
        color: $black-60;
      }
    }

    &.is-error {
      outline: 2px solid $accent-danger-100;

      .icon-close {
        display: flex;
      }

      ~ .support-counter {
        .helper-text {
          color: $accent-danger-100;
        }
      }
    }
  }
}
